/* applies to anything of class "example-class-selector" */
* {
     /*font-family: 'Open Sans', sans-serif;*/
     /*font-family: 'Pacifico', cursive;*/
     font-family: 'Raleway', sans-serif;
     /*text-transform: uppercase;*/
     background: transparent;
     background-color: transparent;
}


html {
     background-color: #edfafd;
     -webkit-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     font-family: 'Raleway', sans-serif;
}

body {
     padding: 20px;
     background-color: transparent;
     -moz-background-size: cover;
     background: transparent;
}

a:hover {
     text-shadow: 1px 1px rgba(46,61,73,0.15);
     text-decoration: none;
}

.title-header {
     background-color: #02b3e4;
     border-radius: 6px;
     box-shadow: 12px 15px 20px 0px rgba(46,61,73, 0.15);
     padding: 15px;
     color: white;
     margin:auto;
     display: block;
}

.name-title {
     font-family: 'Lobster', cursive;
     font-size: 52px;
     color: white;
     text-shadow: 1px 1px rgba(46,61,73,0.15);
     width: auto;
     height: auto;
     margin: auto;
     display: inline;
}

.name-alt {
     width: auto;
     height: auto;
     margin: auto;
     display: inline;
}

.img-profile {
     max-height: 175px;
     max-width: 175px;
     box-shadow: 12px 15px 20px 0px rgba(46,61,73, 0.15);
     margin: auto;
     margin-bottom: 15px;
     display: block;
}

.sub-head {
     font-family: 'Raleway', sans-serif;
     margin-bottom: 30px;
     margin-top: 30px;
}

.project {
     margin: auto;
     margin-bottom: 20px;
     max-width: 510px;
     /*Round corners*/
     border-radius: 0.375rem;
     /*For Hover Shadow Effect*/
     box-shadow: 5px 5px 10px 0px rgba(46,61,73, 0.15);
     transition: box-shadow 0.3s ease;
     /*Light Blue BG-color from lab
     background-color: #deebf8;*/
     background-color: #15c26b;
     padding: 10px 10px 10px 10px;
}

/*For Hover Shadow Effect*/
.project:focus, .project:hover{
     box-shadow: 12px 15px 20px 0px rgba(46,61,73, 0.15);
}

.project-name {
     margin: auto;
     margin-top: 4px;
     color:white;
     font-weight: bold;
     text-shadow: 1px 1px rgba(46,61,73,0.15);
}

/*Corner rounding for project images*/
.img-project {
     border-top-left-radius: 0.375rem;
     border-top-right-radius: 0.375rem;
}

.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

/*Add shadow to list group element*/
.list-group {
     box-shadow: 5px 5px 10px 0px rgba(46,61,73, 0.15);
}

.list-heading {
     background-color: rgb(255,162,52) ;
     font-weight: bold;
     color: white;
}

.work-experience {
     padding: 15px;
     margin: auto;
     margin-bottom: 20px;
     display: block;
     background-color: white;
     /*For Hover Shadow Effects*/
     box-shadow: 5px 5px 10px 5px rgba(46,61,73, 0.15);
     transition: box-shadow 0.3s ease;
}

/*For Hover Shadow Effects*/
.work-experience:hover {
     cursor: pointer;
     box-shadow: 12px 15px 20px 10px rgba(46,61,73, 0.15);
}

